<a href="https://colab.research.google.com/github/rhy004/python-basics/blob/main/Assignment_ss_python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
L=[11,12,13,14]
L.append(50)
print(L)

[11, 12, 13, 14, 50]

In [ ]:
L.append(60)
print(L)

[11, 12, 13, 14, 50, 60]

In [ ]:
L.remove(11)
print(L)

[12, 13, 14, 50, 60]

In [ ]:
L.remove(13)
print(L)

[12, 14, 50, 60]

In [ ]:
L.sort()
print(L)

[12, 14, 50, 60]

In [ ]:
L.sort(reverse=True)
print(L)

[60, 50, 14, 12]

In [ ]:
try:
  L.index(13)
except:
  print("element not found")

element not found

In [ ]:
L.index(60)

0

In [ ]:
len(L)

4

In [ ]:
sum(L)

136

In [ ]:
odd_sum=sum(i for i in L if i%2 != 0)
print (odd_sum)

0

In [ ]:
even_sum=sum(i for i in L if i%2 == 0)
print (even_sum)

136

In [ ]:
def is_prime(n):
  for i in range(2, (n//2) +1):
    if n%i==0:
      return False
  return True
prime_sum = sum(num for num in L if is_prime(num))
print(prime_sum)

0

In [ ]:
L.clear()
print(L)

[]

In [ ]:
del L
print(L)

NameError: ignored

In [ ]:
D={1:5.6 , 2:7.8 , 3:6.6 , 4:8.7 , 5:7.7}
D[8]=8.8
print(D)

{1: 5.6, 2: 7.8, 3: 6.6, 4: 8.7, 5: 7.7, 8: 8.8}

In [ ]:
del D[2]
print(D)

{1: 5.6, 3: 6.6, 4: 8.7, 5: 7.7, 8: 8.8}

In [ ]:
if 6 in D:
  print("present")
else:
  print("not present")

not present

In [ ]:
len(D)

5

In [ ]:
sum(D)# sum of keys

21

In [ ]:
sum(D.values()) #sum of values

37.4

In [ ]:
D[3]=7.1
print(D)

{1: 5.6, 3: 7.1, 4: 8.7, 5: 7.7, 8: 8.8}

In [ ]:
D.clear()
print(D)

{}

In [ ]:
S1={10,20,30,40,50,60}
S2={40,50,60,70,80,90}
print(S1)
print(S2)

{50, 20, 40, 10, 60, 30}
{80, 50, 70, 40, 90, 60}

In [ ]:
S1.add(55)
print(S1)
S1.add(66)
print(S1)

{50, 20, 55, 40, 10, 60, 30}
{50, 66, 20, 55, 40, 10, 60, 30}

In [ ]:
S1.remove(10)
S1.remove(30)
print(S1)

{50, 66, 20, 55, 40, 60}

In [ ]:
if 40 in S1:
  print("present")
else:
  print("not present")

present

In [ ]:
S1.union(S2)

{20, 40, 50, 55, 60, 66, 70, 80, 90}

In [ ]:
S1.intersection(S2)

{40, 50, 60}

In [ ]:
S1.difference(S2)

{20, 55, 66}

In [ ]:
def is_prime(n): 
   for i in range(2, (n//2) + 1):
            if n % i == 0:
                          return False
   return True

print("Prime numbers between 600 and 800:")
for num in range(600, 801):
    if is_prime(num):
        print(num)

Prime numbers between 600 and 800:
601
607
613
617
619
631
641
643
647
653
659
661
673
677
683
691
701
709
719
727
733
739
743
751
757
761
769
773
787
797

In [ ]:
for num in range(100, 1001):
    if num % 7 == 0 and num % 9 == 0:
        print(num)

126
189
252
315
378
441
504
567
630
693
756
819
882
945

In [ ]:
import random

# Create two lists of 10 random numbers between 10 and 30
list1 = random.sample(range(10, 31), 10)
list2 = random.sample(range(10, 31), 10)

print("List 1:", list1)
print("List 2:", list2)

# (i) Find common numbers in the two lists
common_numbers = list(set(list1) & set(list2))
print("Common numbers:", common_numbers)

# (ii) Find unique numbers in both the lists
unique_numbers = list(set(list1) ^ set(list2))
print("Unique numbers:", unique_numbers)

# (iii) Find the minimum in both the lists
min1 = min(list1)
min2 = min(list2)
print("Minimum in List 1:", min1)
print("Minimum in List 2:", min2)

# (iv) Find the maximum in both the lists
max1 = max(list1)
max2 = max(list2)
print("Maximum in List 1:", max1)
print("Maximum in List 2:", max2)

# (v) Find the sum of both the lists
sum1 = sum(list1)
sum2 = sum(list2)
print("Sum of List 1:", sum1)
print("Sum of List 2:", sum2)

List 1: [13, 14, 16, 25, 26, 20, 21, 30, 12, 11]
List 2: [16, 24, 17, 29, 22, 27, 28, 11, 30, 12]
Common numbers: [16, 11, 12, 30]
Unique numbers: [13, 14, 17, 20, 21, 22, 24, 25, 26, 27, 28, 29]
Minimum in List 1: 11
Minimum in List 2: 11
Maximum in List 1: 30
Maximum in List 2: 30
Sum of List 1: 188
Sum of List 2: 216

In [ ]:
import random

# Create a list of 100 random numbers between 100 and 900
random_numbers = random.sample(range(100, 901), 100)

# (i) Count and print all odd numbers
odd_numbers = [num for num in random_numbers if num % 2 != 0]
count_odd = len(odd_numbers)
print("Odd numbers:", odd_numbers)
print("Count of odd numbers:", count_odd)

# (ii) Count and print all even numbers
even_numbers = [num for num in random_numbers if num % 2 == 0]
count_even = len(even_numbers)
print("Even numbers:", even_numbers)
print("Count of even numbers:", count_even)

# (iii) Count and print all prime numbers
def is_prime(n):
    if n < 2:
        return False
    for i in range(2, (n//2) + 1):
        if n % i == 0:
            return False
    return True

prime_numbers = [num for num in random_numbers if is_prime(num)]
count_prime = len(prime_numbers)
print("Prime numbers:", prime_numbers)
print("Count of prime numbers:", count_prime)

Odd numbers: [417, 873, 829, 459, 253, 181, 541, 349, 293, 891, 603, 749, 587, 477, 791, 709, 135, 841, 659, 271, 473, 169, 475, 307, 551, 103, 859, 619, 123, 115, 357, 699, 707, 491, 245, 639, 661, 227, 365, 415, 693, 887, 367, 547, 429, 269, 187, 221, 407, 767, 427, 649, 165, 321, 559, 283, 573]
Count of odd numbers: 57
Even numbers: [308, 178, 698, 212, 838, 450, 558, 660, 302, 258, 444, 136, 404, 842, 692, 518, 378, 118, 802, 114, 510, 200, 270, 734, 480, 706, 648, 678, 858, 222, 684, 672, 310, 800, 340, 626, 210, 448, 820, 314, 688, 744, 524]
Count of even numbers: 43
Prime numbers: [829, 181, 541, 349, 293, 587, 709, 659, 271, 307, 103, 859, 619, 491, 661, 227, 887, 367, 547, 269, 283]
Count of prime numbers: 21

In [ ]:
D = {1: "One", 2: "Two", 3: "Three", 4: "Four", 5: "Five"}

# Open a file in write mode
with open("dictionary_output.txt", "w") as file:
    # Iterate over the dictionary items
    for key, value in D.items():
        # Write the key-value pair to the file
        file.write(f"{key}, {value}\n")

print("Data has been written to the file 'dictionary_output.txt'.")

Data has been written to the file 'dictionary_output.txt'.

In [1]:
import random
import string

def generate_random_string():
    length = random.randint(10, 15)
    return ''.join(random.choices(string.ascii_letters + string.digits, k=length))

# Generate 100 random strings
random_strings = [generate_random_string() for _ in range(100)]

# Write the strings to a file
with open("random_strings.txt", "w") as file:
    for string in random_strings:
        file.write(string + "\n")

print("Random strings have been written to random_strings.txt file.")

Random strings have been written to random_strings.txt file.

In [2]:
def is_prime(n):
    if n < 2:
        return False
    for i in range(2, int(n**0.5) + 1):
        if n % i == 0:
            return False
    return True

# Find prime numbers between 600 and 800
prime_numbers = [n for n in range(600, 801) if is_prime(n)]

# Write the prime numbers to a file
with open("prime_numbers.txt", "w") as file:
    for number in prime_numbers:
        file.write(str(number) + "\n")

print("Prime numbers have been written to prime_numbers.txt file.")

Prime numbers have been written to prime_numbers.txt file.

In [3]:
import time

def sort_list(num_elements):
    # Generate a list with random elements
    my_list = [random.randint(1, 100) for _ in range(num_elements)]

    # Start the timer
    start_time = time.time()

    # Sort the list
    sorted_list = sorted(my_list)

    # End the timer
    end_time = time.time()

    # Calculate the elapsed time
    elapsed_time = end_time - start_time

    return elapsed_time

# Define the number of elements in the list
num_elements = [5000, 10000, 15000, 20000, 25000]

# Measure the time taken for sorting each list
time_taken = []
for num in num_elements:
    time_taken.append(sort_list(num))

# Display the results
print("Number of elements in list\tTime Taken")
for i in range(len(num_elements)):
    print(f"{num_elements[i]}k\t\t\t{time_taken[i]}")

Number of elements in list	Time Taken
5000k			0.0005939006805419922
10000k			0.001138925552368164
15000k			0.0021054744720458984
20000k			0.002228975296020508
25000k			0.002870798110961914